@model List<SellerProductViewModel>
@{
    ViewData["Title"] = "Ваши товары";
}
@section Styles {

    <link rel="stylesheet" href="~/css/Product/getProduct.css" asp-append-version="true" />
}

<nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Home">Панель продавца</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Мои товары
        </li>
    </ol>
</nav>
<div class="container product__container">
    <h1>Мои товары</h1>
    @if(Model.Count == 0)
    {
        <h1>Вы еще не добавили товары</h1>
    }
    @foreach(var product in Model)
    {
        <div class="product-card product">
            <img class="product__img" src="@product.Img" alt="@product.Name">
            <div class="product__body">
                <h5 class="product__title">@product.Name</h5>
                <p class="product__text">Цвет: <b>@product.Color</b></p>
                <p class="product__text">количество: <b>@product.Amount</b></p>
                <p class="product__text">Цена: <b>@product.Price</b></p>
            </div>
            <div class="product__panel">
                <a asp-controller="Product" asp-action="EditProductSizes" asp-route-id="@product.Id" class="btn">Добавить количество</a>
                <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-success">Редактировать</a>
                <form method="post" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.Id">
                    <input type="submit" class="btn btn-danger" value="Удалить"/>
                </form>
            </div>
        </div>
    }
</div>