@model CategoryViewModel;

@{
    ViewData["Title"] = "Каталог";
}
@section Styles{

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Catalog/style.css" asp-append-version="true" />
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Home">Главная</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Каталог
        </li>
    </ol>
</nav>

<div class="container">
    <div class="wrapper-container">
        <div class="category-container">
            @foreach (var category in Model.Categories)
            {
                @if(category.Id == ViewBag.Id)
                {
                    <a asp-action="Index" asp-controller="Catalog" asp-route-id="@category.Id" class="link_active">@category.Name</a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="Catalog" asp-route-id="@category.Id">@category.Name</a>
                }
            }
        </div>
        <div class="subcategory-container">
            @foreach (var subcategory in Model.Subcategories.OrderBy(s => s.Name))
            {
                <a asp-action="GetProducts" asp-controller="Catalog" asp-route-id="@subcategory.Id">@subcategory.Name</a>
            }
        </div>
    </div>
</div>