@model BasketViewModel

<div class="container">
	<h1>Корзина</h1>
	@if(Model.Products.Count == 0)
	{
		<h2>Корзина пуста</h2>
	}
	else
	{

		@foreach(var bp in Model.BasketProducts)
		{
			<div>
				<h4 class="product__title">@bp.Product!.Name</h4>
				<img src="@bp.Product.Img" style="width:100px; height:120px; object-fit:cover;" alt="Alternate Text" />
				<p class="product__price">@bp.Product!.Price</p>
				<p class="product__price">@bp.Size!.Name</p>
				<p class="product__price">@bp.ProductsCount</p>
				<form asp-controller="Basket" asp-action="RemoveProductFromBasket" method="post" asp-route-productId="@bp.ProductId" asp-route-sizeId="@bp.SizeId" asp-route-productsCount="1">
					<button type="submit" class="btn btn-danger">Убрать из корзины</button>	
				</form>
			</div>
			<hr />
		}
	}
</div>