@model BasketViewModel
@{
	ViewData["title"] = "Корзина";
}
@section Styles {

	<link rel="stylesheet" href="~/css/Basket/basket.css" asp-append-version="true" />
}
<div class="container">
	<h1>Корзина <span>(@Model.BasketProducts.Count)</span></h1>
		<form action="#" id="makeOrderForm"></form>
		<div class="basket-container">
			<div class="product-container">
				@foreach(var bp in Model.BasketProducts)
				{
						<div class="product" id="productCard-@bp.Id">
							<input type="checkbox" id="product-@bp.Id" class="productToBasket" value="" data-price="@bp.Product!.Price" data-amount="@bp.ProductsCount" form="makeOrderForm" checked>
							<label for="product-@bp.Id">
								@if (bp.Product!.Img == "")
								{
									<img src="/img/Default/default.jpg" class="product__img" alt="@bp.Product.Name" />
								}
								else
								{
									<img src="@bp.Product!.Img" class="product__img" alt="@bp.Product.Name" />
								}
							</label>
							<div class="product__info">
								<a asp-action="GetProductBySize" asp-controller="Product" asp-route-id="@bp.Product!.Id" asp-route-sizeId="@bp.Size!.Id" class="product-card">
										<h4 class="product__title">@bp.Product!.Name <span>(@bp.Size!.Name)</span></h4>
								</a>
								<button type="submit" data-productId="@bp.ProductId" data-sizeId="@bp.SizeId" data-productCardId="productCard-@bp.Id" class="basket-btn delete-btn"><img src="/img/icons/delete.png" alt="delete"></button>
							</div>
							<div class="product__price">@bp.Product.Price ₽</div>
							<div class="product__amount-panel">
								<div class="minus basket-btn btn" data-bpId="product-count-@bp.Id">&minus;</div>
								<input id="product-count-@bp.Id" class="input-field" name="productsCount" type="number" min="0" max="@bp.Product.Sizes.Where(x => x.Id == bp.SizeId).First().Amount" data-bpId="@bp.Id" data-productId="@bp.ProductId" data-sizeId="@bp.SizeId" value="@bp.ProductsCount" onkeypress="return false;" required />
								<div class="plus basket-btn" data-bpId="product-count-@bp.Id">&plus;</div>
							</div>
						</div>
				}
			</div>
			
			<div class="basket__operation opearation">
				<h4 class="operation__title">Ваша корзина</h4>
				<p class="operation__products-count">Товары <span id="products-count"></span></p>
				<p class="operation__sum">Итого: <span id="sum"></span> ₽</p>
				<button class="opeation__make-order-btn" type="submit" form="makeOrderForm">Перейти к оформлению</button>
		  </div>
		</div>
</div>
@section Scripts {
	<script src="~/js/Basket/basket.js"></script>
}