@model ProductViewModel

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        @Model.Name
    </a>
    <a href="#" class="list-group-item list-group-item-action">Описание: @Model.Description</a>
    <a href="#" class="list-group-item list-group-item-action">Цена: @Model.Price</a>
    <a href="#" class="list-group-item list-group-item-action">Кол-во: @Model.Amount</a>
    <a href="#" class="list-group-item list-group-item-action">Цвет: @Model.Color</a>
</div>