@model List<OrderEntity>
@{
	ViewData["Title"] = "Активные заказы";
}
<nav aria-label="breadcrumb" class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-action="Index" asp-controller="Home" style="text-decoration: none; color:#000;">Панель продавца</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			Активные заказы
		</li>
	</ol>
</nav>
<div class="container">

	<h1>Активные заказы</h1>
	@if(Model.Count == 0)
	{
		<h2>В данный момент заказов нет</h2>
	}
	<div class="d-flex g-3 flex-wrap" style="gap: 25px;">

	@foreach(var order in Model)
	{
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Заказ №@order.Id</h5>
				<p class="card-text">Адресс: @order.Adress</p>
				<p class="card-text">Телефон: @order.Phone</p>
				<p class="card-text">Имя покупателя: @order.Customer!.Name</p>
				<p class="card-text">Сумма заказа: @order.Sum</p>
				<h6 class="card-title">Товары:</h6>
				<ol>
						@foreach(var product in order.OrdersProducts)
						{
							<li>
								@product.ProductName (@product.SizeName) [@product.Amount]
							</li>
						}
				</ol>
			

				<a href="#" class="btn market-hub__btn">Ответить</a>
			</div>
		</div>
		}
	</div>
</div>